{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="{% static 'custom_css/monoicon.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/sweetalert2/sweetalert2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom_css/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css">
    <title>Exam Prerequisite</title>
</head>
<body>
<div class="container-fluid">
    <h2>{{ exam.exam_name }}</h2>
    <h3>Capture Image</h3>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <table>
                    <tr>
                        <td>
                            <button type="button" id="start-camera" class="btn btn-secondary">Start Camera</button>
                        </td>
                        <td>
                            <button type="button" id="click-photo" class="btn btn-success">Click Photo</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <video id="stream" width="320" height="240" autoplay></video>
                        </td>
                        <td>
                            <canvas id="capture" width="320" height="240"></canvas>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script>
        var btnStart = document.getElementById("start-camera");
        var btnCapture = document.getElementById("click-photo");

        // The stream & capture
        var stream = document.getElementById("stream");
        var capture = document.getElementById("capture");

        // The video stream
        var cameraStream = null;

        // Attach listeners
        btnStart.addEventListener("click", startStreaming);
        btnCapture.addEventListener("click", captureSnapshot);

        // Start Streaming
        function startStreaming() {

            var mediaSupport = 'mediaDevices' in navigator;

            if (mediaSupport && null == cameraStream) {

                navigator.mediaDevices.getUserMedia({video: true})
                    .then(function (mediaStream) {

                        cameraStream = mediaStream;

                        stream.srcObject = mediaStream;

                        stream.play();
                    })
                    .catch(function (err) {

                        console.log("Unable to access camera: " + err);
                    });
            } else {
                alert('Your browser does not support media devices.');
                return;
            }
        }

        function stopStreaming() {
            if (null != cameraStream) {
                var track = cameraStream.getTracks()[0];
                track.stop();
                stream.load();
                cameraStream = null;
            }
        }

        function dataURItoBlob(dataURI) {

            var byteString = atob(dataURI.split(',')[1]);
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            var buffer = new ArrayBuffer(byteString.length);
            var data = new DataView(buffer);

            for (var i = 0; i < byteString.length; i++) {

                data.setUint8(i, byteString.charCodeAt(i));
            }

            return new Blob([buffer], {type: mimeString});
        }

        function captureSnapshot() {

            if (null != cameraStream) {

                var ctx = capture.getContext('2d');
                var img = new Image();

                ctx.drawImage(stream, 0, 0, capture.width, capture.height);

                img.src = capture.toDataURL("image/png");
                img.width = 240;
                const snapshot_data = dataURItoBlob(capture.toDataURL("image/png"));
                var request = new XMLHttpRequest();

                request.open("POST", '{% url 'student:capture_upload' %}');
                request.onreadystatechange = function() {
                    if (request.readyState === XMLHttpRequest.DONE) {
                        btnStart.remove();
                        btnCapture.remove();
                        capture.remove();
                        window.location.replace('{% url 'student:attempt_exam' exam.id %}');
                    }
                }
                var data = new FormData();
                data.append('file', snapshot_data, '{{request.user.get_full_name}}_{{ exam.id }}_image.png');
                data.append('exam_id', '{{ exam.id }}')
                request.send(data);
            }
        }

    </script>
    {% include 'partials/alerts.html' %}
</div>
</body>
</html>