{% extends 'partials/test_admin/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}
    Add Question
{% endblock title %}
{% block container-fluid %}
    <section>
        <div class="card">
            <div class="shadow" style="border-top: 3px solid #41acf2;">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-fw fa-plus-circle"></i>&nbsp;Add Exam Question</h3>
                </div>
                <form action="" method="post" id="questionform" enctype="multipart/form-data"
                      data-subjecttype-url="{% url 'test_admin:load_types' %}">
                    {% csrf_token %}
                    <div class="row py-3 px-3">
                        <div id="UpdatePanel1" class="col-md-12 py-2">

                            <div class="row">
                                <div class="col-md-3 py-2">
                                    {{ form.subject|as_crispy_field }}
                                </div>
                                <div class="col-md-3 py-2">
                                    {{ form.subject_type|as_crispy_field }}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 py-2">
                            {{ form.points|as_crispy_field }}
                        </div>
                        <div class="col-md-3 py-2">
                            {{ form.sq|as_crispy_field }}
                        </div>
                        <div class="col-md-12 py-2">
                            {{ form.question_text }}
                        </div>
                        <div id="pr1" class="col-md-3 py-2">
                            {{ form.pr1|as_crispy_field }}
                        </div>
                        <div id="pr2" class="col-md-3 py-2">
                            {{ form.pr2|as_crispy_field }}
                        </div>
                        <div id="pr3" class="col-md-3 py-2">
                            {{ form.pr3|as_crispy_field }}
                        </div>
                        <div id="pr4" class="col-md-3 py-2">
                            {{ form.pr4|as_crispy_field }}
                        </div>
                        <div id="pr5" class="col-md-3 py-2">
                            {{ form.pr5|as_crispy_field }}
                        </div>
                        <div id="pr6" class="col-md-3 py-2">
                            {{ form.pr6|as_crispy_field }}
                        </div>
                        <div id="pr7" class="col-md-3 py-2">
                            {{ form.pr7|as_crispy_field }}
                        </div>
                        <div id="pr8" class="col-md-3 py-2">
                            {{ form.pr8|as_crispy_field }}
                        </div>
                        <div id="pr9" class="col-md-3 py-2">
                            {{ form.pr9|as_crispy_field }}
                        </div>
                        <div id="pr10" class="col-md-3 py-2">
                            {{ form.pr10|as_crispy_field }}
                        </div>
                        <div id="pr11" class="col-md-3 py-2">
                            {{ form.pr11|as_crispy_field }}
                        </div>
                        <div id="pr12" class="col-md-3 py-2">
                            {{ form.pr12|as_crispy_field }}
                        </div>
                        {{ form.media }}
                        <div id="ans_1" class="col-md-9 py-2">
                            {{ form.answer1|as_crispy_field }}
                        </div>
                        <div id="sr1" class="col-md-3 py-2">
                            {{ form.sr1|as_crispy_field }}
                        </div>
                        <div id="ans_2" class="col-md-9 py-2">
                            {{ form.answer2|as_crispy_field }}
                        </div>
                        <div id="sr2" class="col-md-3 py-2">
                            {{ form.sr2|as_crispy_field }}
                        </div>
                        <div id="ans_3" class="col-md-9 py-2">
                            {{ form.answer3|as_crispy_field }}
                        </div>
                        <div id="sr3" class="col-md-3 py-2">
                            {{ form.sr3|as_crispy_field }}
                        </div>
                        <div id="ans_4" class="col-md-9 py-2">
                            {{ form.answer4|as_crispy_field }}
                        </div>
                        <div id="sr4" class="col-md-3 py-2">
                            {{ form.sr4|as_crispy_field }}
                        </div>
                        <div id="ans_5" class="col-md-9 py-2">
                            {{ form.answer5|as_crispy_field }}
                        </div>
                        <div id="sr5" class="col-md-3 py-2">
                            {{ form.sr5|as_crispy_field }}
                        </div>
                        <div id="ans_6" class="col-md-9 py-2">
                            {{ form.answer6|as_crispy_field }}
                        </div>
                        <div id="sr6" class="col-md-3 py-2">
                            {{ form.sr6|as_crispy_field }}
                        </div>
                        <div id="ans_7" class="col-md-9 py-2">
                            {{ form.answer7|as_crispy_field }}
                        </div>
                        <div id="sr7" class="col-md-3 py-2">
                            {{ form.sr7|as_crispy_field }}
                        </div>
                        <div id="ans_8" class="col-md-9 py-2">
                            {{ form.answer8|as_crispy_field }}
                        </div>
                        <div id="sr8" class="col-md-3 py-2">
                            {{ form.sr8|as_crispy_field }}
                        </div>
                        <div id="ans_9" class="col-md-9 py-2">
                            {{ form.answer9|as_crispy_field }}
                        </div>
                        <div id="sr9" class="col-md-3 py-2">
                            {{ form.sr9|as_crispy_field }}
                        </div>
                        <div id="ans_10" class="col-md-9 py-2">
                            {{ form.answer10|as_crispy_field }}
                        </div>
                        <div id="sr10" class="col-md-3 py-2">
                            {{ form.sr10|as_crispy_field }}
                        </div>
                        <div id="solution" class="col-md-9 py-2">
                            {{ form.solution_details|as_crispy_field }}
                        </div>
                        <div class="col-md-12 py-2">
                            <div id="uppnl">


                                <div id="select_choice" class="select_choice">
                                    {{ form.correct_ans|as_crispy_field }}
                                </div>

                            </div>
                        </div>

                        <div id="vsreg" style="display:none;">

                        </div>
                        <div class="col-md-12 py-2 text-center mt-4">
                            <input type="submit" name="btn_save" value="Save" id="btn_save"
                                   class="btn btn-success px-4 font-weight-bold"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript"
            src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <script>
        $("#id_subject").change(function () {
            var url = $("#questionform").attr("data-subjecttype-url");
            var SubjectId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'subject': SubjectId
                },
                success: function (data) {
                    $("#id_subject_type").html(data)
                }
            });

        });
    </script>
    <style>
        .form-check {
            display: inline-block;
            margin-block: 2px;
        }
    </style>
{% endblock container-fluid %}