{% extends 'partials/test_admin/base.html' %}
{% block title %}
    Test Admin
{% endblock %}
{% block container-fluid %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-orange" style="color: white;">
                <div class="inner" style="color: white;">
                    <h3>99</h3>
                    <p class="">Students</p>
                </div>
                <div class="icon">
                    <div class="icon"><i class="fas fa-user-graduate"></i></div>
                </div>
                <a href="#" class="small-box-footer" style="color: white;">
                    <font style="color: white;">More info</font> <i class="fa fa-arrow-circle-right"
                                                                    style="color: white;"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>12</h3>
                    <p class="">Exams Taken</p>
                </div>
                <div class="icon">
                    <div class="icon"><i class="fas fa-hourglass"></i></div>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
